/* Base styles for all devices */
.detail-back-button {
    background-color: #3D405B;
}
.details-title {
    text-transform: uppercase;
}
.receita-details {
    background-color: #81B29A;
    padding: 2%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.lists-container {
    text-align: left;
}
.modal-content-detail {
    background-color: #81B29A;
    border-radius: 20px;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 68%;
}

/* Media query for devices with a minimum width of 390px */
@media (min-width: 390px) {
    .lists-container {
        margin-left: 10%;
    }
}

/* Media query for devices with a minimum width of 640px */
@media (min-width: 640px) {
    .lists-container {
        margin-left: 20%;
    }
}

/* Media query for devices with a minimum width of 768px */
@media (min-width: 768px) {
    .lists-container {
        margin-left: 20%;
    }
}

/* Media query for devices with a minimum width of 1024px */
@media (min-width: 1024px) {
    .lists-container {
        margin-left: 40%;
    }
}