.receita-details {
    background-color: #81B29A;
    padding: 2%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.detail-back-button {
    background-color: #3D405B;
}

.details-title {
    text-transform: uppercase;
}

.lists-container {
    text-align: left;
    margin-left: 40%;
    text-transform: capitalize;
}

.modal-content-detail {
    background-color: #81B29A;
    border-radius: 20px;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
}
