header {
    background-color: #3D405B;
    padding: 2%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.logo-header {
    width: 375px;
    position: absolute;
    margin-left: -600px;
    margin-top: -40px;
}